html {
  box-sizing: border-box;
  background-color: #dbd6d0;
}

*, *::before, *::after {
  box-sizing: inherit;
}

h1 {
  font-family: "Bevan", serif;
  text-align: center;
  color: #fff;
  margin: 0;
}

header {
  background-color: #79756f;
  border: 3px solid #595652;
}

ul {
  text-align: center;
}

li {
  list-style-type: none;
  text-align: center;
  display: inline-block;
  margin: 0 0.3em;

}

a {
  padding: 1em;
  background-color: #713837;
  display: inline-block;
  color: #fff;
  text-decoration: none;
  font-family: sans-serif;
  border-radius: 5px;
  font-size: 0.75rem;

}

a:hover {
  text-decoration: none;
  background-color:#f33;
}

body {
  color: #f33;
  margin: 0;
}
